.my-nav {
  background-color: white;
}

.text-blue {
  color: #006cff !important;
}

.nav-item:hover {
  border-bottom: 1px solid #006cff !important;
  margin-bottom: -1px;
}

body {
  padding-top: 70px;
}

.custom-button {
  background: none;
  border: 1px solid black;
}

.custom-button:hover {
  background: black;
  color: #006cff;
}

.zezstats-img {
  object-fit: cover;
  width: 250px;
  height: 300px;
  max-width: 100%;
}

.project-button {
  background: none;
  border: 1px solid #006cff;
}

.project-button:hover {
  background-color: #006cff;
}

.project-button a:hover {
  color: white;
  text-decoration: none;
}

.project-button:hover {
  color:white !important;
}

.language-tag {
  border: 2px solid #006cff;
  border-radius: 5px;
}

.contact {
  background-color: #006cff;
}