.projectBox {
  width: 100%;
  padding: 35px 20px;
  color: white;
}

.projectImage {
  width: 100%;
}

.projectDescription {
  font-weight: bold;
}

.bottomBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomBoxInner {
  display: flex;
  flex-basis: 75%;
  flex-direction: column;
}

.icon {
  transition: linear 200ms;
  color: rgba(255, 255, 255, 0.5);
}

.icon:hover {
  color: rgba(255, 255, 255, 1);
}

.linkContainer {
  display: flex;
  min-width: 80px;
  justify-content: space-between;
}

@media only screen and (min-width: 992px) {
  .projectBox {
    padding: 100px 75px;
  }
}